.app-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}
.logo-container{
    
    width: 50%;
    background-color: rgb(255, 94, 0);
}
.app-logo{
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 17%;
    height: auto;
}

.nav-items{
    width: 50%;
    padding-right: 10%;
    vertical-align: middle;
    background-color: rgba(255, 255, 0, 0.787) ;
}
.nav-items > ul{
    display: flex;
    padding-top: 3%;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: large;
}

.app-body{
    border: 1px solid black;
    margin-top: 5%;
}

.search-bar{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
#search-input{
    width: 60%;
    margin-right: 20px;
    font-size: large;
}
.search-button{
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.restaurant-container{
    border: 1px solid #000;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.restaurant-card{
    cursor: pointer;
    width: 25%;
    
    margin: 4%;
    display: inline-block;
    background-color: rgb(246, 241, 241);
}
.restaurant-card:hover{
   border: 1px solid black;
}
.restaurant-image{
    width: 80%;
    height: 50%;
    margin: 10%;
}
.restaurant-info{
    height: 30%;
    justify-content: center;
}